USE [Quanlycuahang]
GO
/****** Object:  Table [dbo].[THONGKECUAHANG]    Script Date: 12/19/2021 22:13:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THONGKECUAHANG](
	[MaCH] [varchar](20) NOT NULL,
	[Thang_CH] [char](2) NOT NULL,
	[Nam_CH] [char](4) NOT NULL,
	[DoanhSo_CH] [bigint] NULL,
	[QuotaSale_CH] [bigint] NULL,
	[Thuong] [bigint] NOT NULL,
 CONSTRAINT [PK_TK] PRIMARY KEY CLUSTERED 
(
	[MaCH] ASC,
	[Thang_CH] ASC,
	[Nam_CH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[THONGKECUAHANG]  WITH CHECK ADD  CONSTRAINT [FK_THONGKECUAHANG_CUAHANG] FOREIGN KEY([MaCH])
REFERENCES [dbo].[CUAHANG] ([MaCH])
GO
ALTER TABLE [dbo].[THONGKECUAHANG] CHECK CONSTRAINT [FK_THONGKECUAHANG_CUAHANG]
GO
