USE [Quanlycuahang]
GO
/****** Object:  Table [dbo].[CT_DONXUAT]    Script Date: 12/19/2021 22:13:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_DONXUAT](
	[MaDX] [varchar](20) NOT NULL,
	[MaSP] [varchar](20) NOT NULL,
	[SoLuongXuat] [int] NULL,
 CONSTRAINT [PK_CTDX] PRIMARY KEY CLUSTERED 
(
	[MaDX] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CT_DONXUAT]  WITH CHECK ADD  CONSTRAINT [FK_CTDONXUAT_DONXUAT] FOREIGN KEY([MaDX])
REFERENCES [dbo].[DONXUAT] ([MaDX])
GO
ALTER TABLE [dbo].[CT_DONXUAT] CHECK CONSTRAINT [FK_CTDONXUAT_DONXUAT]
GO
ALTER TABLE [dbo].[CT_DONXUAT]  WITH CHECK ADD  CONSTRAINT [FK_CTDONXUAT_SANPHAM] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CT_DONXUAT] CHECK CONSTRAINT [FK_CTDONXUAT_SANPHAM]
GO
