USE [Quanlycuahang]
GO
/****** Object:  Table [dbo].[DONNHAP]    Script Date: 12/19/2021 22:13:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DONNHAP](
	[MaDN] [varchar](20) NOT NULL,
	[NgayNhap] [datetime] NULL,
	[MaKho] [varchar](20) NULL,
	[MaNV] [varchar](20) NULL,
 CONSTRAINT [PK_DN] PRIMARY KEY CLUSTERED 
(
	[MaDN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[DONNHAP]  WITH CHECK ADD  CONSTRAINT [FK_DONNHAP_KHO] FOREIGN KEY([MaKho])
REFERENCES [dbo].[KHO] ([MaKho])
GO
ALTER TABLE [dbo].[DONNHAP] CHECK CONSTRAINT [FK_DONNHAP_KHO]
GO
ALTER TABLE [dbo].[DONNHAP]  WITH CHECK ADD  CONSTRAINT [FK_DONNHAP_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[DONNHAP] CHECK CONSTRAINT [FK_DONNHAP_NHANVIEN]
GO
