USE [Quanlycuahang]
GO
/****** Object:  Table [dbo].[LICHSUGIA]    Script Date: 12/19/2021 22:13:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LICHSUGIA](
	[MaSP] [varchar](20) NOT NULL,
	[ThoiGianApDung] [datetime] NOT NULL,
	[GiaBanSP] [int] NULL,
	[PhanTramGiam] [tinyint] NULL,
 CONSTRAINT [PK_LSG] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC,
	[ThoiGianApDung] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[LICHSUGIA]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUGIA_SANPHAM] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[LICHSUGIA] CHECK CONSTRAINT [FK_LICHSUGIA_SANPHAM]
GO
