USE [Quanlycuahang]
GO
/****** Object:  Table [dbo].[CT_DONNHAP]    Script Date: 12/19/2021 22:13:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_DONNHAP](
	[MaDN] [varchar](20) NOT NULL,
	[MaSP] [varchar](20) NOT NULL,
	[SoLuongNhap] [int] NULL,
 CONSTRAINT [PK_CTDN] PRIMARY KEY CLUSTERED 
(
	[MaDN] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CT_DONNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTDONNHAP_DONNHAP] FOREIGN KEY([MaDN])
REFERENCES [dbo].[DONNHAP] ([MaDN])
GO
ALTER TABLE [dbo].[CT_DONNHAP] CHECK CONSTRAINT [FK_CTDONNHAP_DONNHAP]
GO
ALTER TABLE [dbo].[CT_DONNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTDONNHAP_SANPHAM] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CT_DONNHAP] CHECK CONSTRAINT [FK_CTDONNHAP_SANPHAM]
GO
