USE [Quanlycuahang]
GO
/****** Object:  Table [dbo].[CUAHANG]    Script Date: 12/19/2021 22:13:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CUAHANG](
	[MaCH] [varchar](20) NOT NULL,
	[SoNha_CH] [nvarchar](5) NULL,
	[Duong_CH] [nvarchar](30) NULL,
	[Phuong_CH] [nvarchar](30) NULL,
	[Quan_CH] [nvarchar](20) NULL,
	[TPho_CH] [nvarchar](30) NULL,
	[ChuCH] [varchar](20) NULL,
 CONSTRAINT [PK_CH] PRIMARY KEY CLUSTERED 
(
	[MaCH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CUAHANG]  WITH CHECK ADD  CONSTRAINT [FK_CUAHANG_CHUCH] FOREIGN KEY([ChuCH])
REFERENCES [dbo].[CHU_CH] ([MaCCH])
GO
ALTER TABLE [dbo].[CUAHANG] CHECK CONSTRAINT [FK_CUAHANG_CHUCH]
GO
