USE [Quanlycuahang]
GO
/****** Object:  Table [dbo].[SP_CH]    Script Date: 12/19/2021 22:13:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SP_CH](
	[MaCH] [varchar](20) NOT NULL,
	[MaSP] [varchar](20) NOT NULL,
	[SoLuongTon] [smallint] NULL,
 CONSTRAINT [PK_SPCH] PRIMARY KEY CLUSTERED 
(
	[MaCH] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[SP_CH]  WITH CHECK ADD  CONSTRAINT [FK_SPCH_CUAHANG] FOREIGN KEY([MaCH])
REFERENCES [dbo].[CUAHANG] ([MaCH])
GO
ALTER TABLE [dbo].[SP_CH] CHECK CONSTRAINT [FK_SPCH_CUAHANG]
GO
ALTER TABLE [dbo].[SP_CH]  WITH CHECK ADD  CONSTRAINT [FK_SPCH_SANPHAM] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[SP_CH] CHECK CONSTRAINT [FK_SPCH_SANPHAM]
GO
