USE [Quanlycuahang]
GO
/****** Object:  Table [dbo].[CHU_CH]    Script Date: 12/19/2021 22:13:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHU_CH](
	[MaCCH] [varchar](20) NOT NULL,
	[HoCCH] [nvarchar](20) NULL,
	[TenCHH] [nvarchar](20) NULL,
	[GioiTinh_CHH] [nvarchar](3) NULL,
	[Tuoi] [tinyint] NULL,
 CONSTRAINT [PK_CHUCH] PRIMARY KEY CLUSTERED 
(
	[MaCCH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
